body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #1ab192;
  height: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.logo img {
  height: 110px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: #1ab192;
}

button[type="submit"] {
  background-color: #1ab192;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #3367d6;
}

p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p a {
  color: #4285f4;
  text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.gris {
  background-color: #f2f2f2; /* Fondo gris más claro */
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
}

table.gris th {
  background-color: #d4d4d4; /* Encabezado gris más oscuro */
  color: white;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

table.gris td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

table.gris tr:nth-child(even) {
  background-color: #e6e6e6; /* Filas pares en gris más claro */
}

table.gris tr:hover {
  background-color: #cccccc; /* Efecto hover en gris aún más claro */
}

/* Estilos de los botones */
.btn {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn.verde {
  background-color: #4CAF50;
  color: white;
}

.btn.azul {
  background-color: #3498DB;
  color: white;
}

.btn.rojo {
  background-color: #E74C3C;
  color: white;
}

/* Estilos para el caption */
caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  background-color: #1ab192;
  color: white;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
}