body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containergen {
  display: grid;
  height: 100%;
}

header {
  background-color: #1ab192;
  height: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.logo img {
  height: 110px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

form#login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form#dispositivos {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: #1ab192;
}

button[type="submit"] {
  background-color: #1ab192;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #3367d6;
}

p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p a {
  color: #4285f4;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 60px;
  margin-top: auto;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.gris {
  background-color: #f2f2f2; /* Fondo gris más claro */
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
}

table.gris th {
  background-color: #d4d4d4; /* Encabezado gris más oscuro */
  color: white;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

table.gris td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

table.gris tr:nth-child(even) {
  background-color: #e6e6e6; /* Filas pares en gris más claro */
}

table.gris tr:hover {
  background-color: #cccccc; /* Efecto hover en gris aún más claro */
}

/* Estilos de los botones */
.btn {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn.verde {
  background-color: #91f195;
  color: white;
}

.btn.blanco {
  background-color: #ffffff;
  color: white;
}

.btn.azul {
  background-color: #3498db;
  color: white;
}

.btn.rojo {
  background-color: #e74c3c;
  color: white;
}

/* Estilos para el caption */
caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  background-color: #1ab192;
  color: white;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

#alerta {
  display: none;
  text-align: center;
  color: red;
}

#alerta.show {
  display: block;
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 0 auto; /* Esto centrará horizontalmente el contenedor de las tarjetas */
  margin-top: 135px;
  margin-bottom: 135px;
}

/* Estilo para las tarjetas */
.card {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Color inicial */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #000000; /* Color del texto en las tarjetas */
  transition: background-color 0.3s; /* Transición de color al pasar el mouse */
}

/* Estilo para las imágenes */
.card img {
  width: 400px;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

/* Estilo para los enlaces en las tarjetas */
.card a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #000000; /* Establece el color del texto del enlace */
}

/* Estilo para las tarjetas al pasar el mouse */
.card:hover {
  background-color: #3498db; /* Cambia el color al pasar el mouse a un tono azul */
}

.btn-cerrar-sesion {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-left: 50px;
  float: right; /* Alinea el botón a la derecha */
}

.btn-cerrar-sesion:hover {
  background-color: darkred;
}

.btn-back {
  background-color: white;
  border-radius: 50%;
  margin-right: 50px;
  padding: 10px; /* Ajusta este valor según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-back img {
  max-width: 100%; /* Asegura que la imagen no se desborde del botón */
  width: 25px; /* Establece el ancho deseado */
  height: 25px; /* Establece el alto deseado */
}
