doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
  body
    div.containergen    
        header
          .logo
            img(src='img/uttnlogl.webp', alt='Encabezado')
        div    
        h1 Olvidé mi Contraseña
        if error
        p(style='color:red') #{error}
        if success
        p(style='color:green') #{success}
        form(action='/forgot-password', method='post')
        label(for='correo') Correo Electrónico:
        input(type='email', name='correo', required)
        button(type='submit') Enviar Correo Electrónico de Restablecimiento
