doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style/styles.css")
    title Seguimiento de dispositivos
    style.
      label {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
      }
      input[type="text"],
      select,
      textarea,
      input[type="date"] {
        width: 85%;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5 px;
        margin-bottom: 10px;
        margin-left: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      input[type="submit"] {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #555;
      }
      .tabs {
        display: flex;
        border-bottom: 1px solid #ccc;
      }
      .tab {
        flex: 1;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        background-color: #eee;
      }
      .tab.active {
        background-color: #1ab192;
      }
      .tab-content {
        display: none;
      }
      .tab-content.active {
        display: block;
      }
      .container {
        border: 0; /* Sin borde visible */
        border-radius: 10px; /* Borde redondeado */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
        margin: 0 auto; /* Centra horizontalmente en la página */
        margin-bottom: 30px;
        padding: 10px;
        max-width: 1700px; /* Establece un ancho máximo si es necesario */
      }

      button[type="submit"] {
        margin-left: 1550px; /* Ajusta el margen derecho del botón según sea necesario */
        margin-top: 25px;
      }
  div.containergen
    body
      header
        button#back.btn-back(type='button', onclick='location.href="/principal"')
          img(src='img/back.png', alt='back')
        .logo
          img(src='img/uttnlogl.png', alt='Encabezado')
        button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"') Cerrar Sesión
      form(action="/guardar", method="POST")
        div.container
          div.tabs
            div.tab.active#tab1 Estado del Equipo
            div.tab#tab2 Información del Artículo
            div.tab#tab3 Información del Sistema
            div.tab#tab4 Información del Procesador
            div.tab#tab5 Información de Almacenamiento
            div.tab#tab6 Información de la RAM
            div.tab#tab7 Información de Resguardo
            div.tab#tab8 Anotaciones
          div.tab-content.active#content1
              label(for="estado") Estado:
              select#estado(name="estado")
                option(value="seleccionarestado") Selecionar Estado del Articulo
                option(value="excelente") Excelente
                option(value="bueno") Bueno
                option(value="pendiente") Pendiente
                option(value="mala") Mala
                option(value="deficiente") Deficiente
              label(for="actualizacion") Actualización:
              select(name="actualizacion")
                option(value="SI") SI
                option(value="NO") NO
                option(value="Pendiente") Pendiente
                option(value="Sin Datos") Sin Datos
              label(for="fecha") Fecha de información actualizada:
              input#fecha(type="date" name="fecha")
              label(for="encargado") Encargado:
              input#encargado(type="text" name="encargado")
          div.tab-content#content2
            label(for="id") ID:
            input#id(type="text" name="id")
            label(for="articulo") Artículo:
            select#articulo(name="articulo")
              option(value="Seleccionar el articulo") Seleccionar Articulo
              option(value="CPU") CPU
              option(value="Laptop") Laptop
              option(value="Allinone") All In One
              option(value="Camarasweb") Cámaras Web
              option(value="Reguladores") Reguladores
              option(value="Servidores") Servidores
              option(value="Switch") Switch
              option(value="HUB") HUB
              option(value="Audifonos") Diadema(Audifonos)
            label(for="marca") Marca:
            input#marca(type="text" name="marca")
            label(for="modelo") Modelo:
            input#modelo(type="text" name="modelo")
            label(for="numeroSerie") Número de Serie:
            input#numeroSerie(type="text" name="numeroSerie")
          div.tab-content#content3
            label(for="nombreEquipo") Nombre del Equipo:
            input#nombreEquipo(type="text" name="nombreEquipo")
            label(for="sistemaOperativo") Sistema Operativo:
            input#sistemaOperativo(type="text" name="sistemaOperativo")
            label(for="version") Versión:
            input#version(type="text" name="version")
            label(for="tipoSistema") Tipo de Sistema:
            select#tipoSistema(name="tipoSistema")
              option(value="Seleccionar sistema") Seleccionar Tipo De Sistema
              option(value="32 bits") 32 bits
              option(value="64 bits") 64 bits
            label(for="dominio") Dominio:
            select#dominio(name="dominio")
              option(value="uttn.edu.mx") uttn.edu.mx
          div.tab-content#content4
            label(for="marcaProcesador") Marca del Procesador:
            select#marcaProcesador(name="marcaProcesador")
              option(value="Seleccionar procesador") Seleccionar Procesador
              option(value="Intel") Intel
              option(value="AMD") AMD
            label(for="modeloProcesador") Modelo del Procesador:
            input#modeloProcesador(type="text" name="modeloProcesador")
            label(for="generacion") Generación:
            input#generacion(type="text" name="generacion")
            label(for="ghz") GHz:
            input#ghz(type="text" name="ghz")
            label(for="graficos") Gráficos:
            input#graficos(type="text" name="graficos")
            label(for="modeloGraficos") Modelo de Gráficos:
            input#modeloGraficos(type="text" name="modeloGraficos")
            label(for="GPU") GPU:
            input#GPU(type="text" name="GPU")
          div.tab-content#content5
            label(for="almacenamientoGB") Espacio de almacenamiento:
            input#almacenamientoGB(type="text" name="almacenamientoGB")
            label(for="tipoAlmacenamiento") Tipo de Almacenamiento:
            select#tipoAlmacenamiento(name="tipoAlmacenamiento")
              option(value="Seleccionar tipo de almacenamiento") Seleccionar Tipo De Almacenamiento
              option(value="HDD") HDD
              option(value="SSD") SSD
            label(for="marcaAlmacenamiento") Marca del Almacenamiento:
            input#marcaAlmacenamiento(type="text" name="marcaAlmacenamiento")
          div.tab-content#content6
            label(for="tipoRam") Tipo de RAM:
            input#tipoRam(type="text" name="tipoRam")
            label(for="velocidadRam") Velocidad de la RAM (MHz):
            input#velocidadRam(type="text" name="velocidadRam")
            label(for="capacidadRam") Capacidad de la RAM (GB):
            input#capacidadRam(type="text" name="capacidadRam")
            label(for="ranurasUso") Ranuras en Uso:
            input#ranurasUso(type="text" name="ranurasUso")
            label(for="totalRam") Total de RAM (GB):
            input#totalRam(type="text" name="totalRam")
            label(for="capacidadUtilizable") Capacidad Utilizable (GB):
            input#capacidadUtilizable(type="text" name="capacidadUtilizable")
            label(for="marcaRam") Marca de la RAM:
            input#marcaRam(type="text" name="marcaRam")
            label(for="modeloRam") Modelo de la RAM:
            input#modeloRam(type="text" name="modeloRam")
          div.tab-content#content7
            label(for="departamentoResguardo") Departamento de Resguardo:
              select#departamentoResguardo(name="departamentoResguardo")
                option(value="Seleccionar Departamento") Seleccionar Departamento
                option(value="Tecnologías de la Información") Tecnologías de la Información
                option(value="Procesos Industriales") Procesos Industriales
                option(value="Departamento de Planeación y Evaluación") Departamento de Planeación y Evaluación
                option(value="Vinculación") Vinculación
                option(value="Administración") Administración
                option(value="Mecatrónica") Mecatrónica
                option(value="DIPROSET") DIPROSET
                option(value="Extensión Universitaria") Extensión Universitaria
                option(value="Administración y Finanzas") Administración y Finanzas
                option(value="Rectoría") Rectoría
                option(value="Energías Renovables") Energías Renovables
                option(value="Departamento de Personal") Departamento de Personal
                option(value="Mantenimiento Industrial") Mantenimiento Industrial
                option(value="Departamento de Prácticas y Estadías") Departamento de Prácticas y Estadías
                option(value="Departamento Calidad de Servicio de Apoyo al Estudiante") Departamento Calidad de Servicio de Apoyo al Estudiante
                option(value="Departamento de Contabilidad") Departamento de Contabilidad
                option(value="Departamento de Sistemas") Departamento de Sistemas
                option(value="Departamento de Prensa y Difusión") Departamento de Prensa y Difusión
                option(value="Departamento de Servicios Escolares") Departamento de Servicios Escolares
                option(value="Departamento de Programación y Pre") Departamento de Programación y Pre
                option(value="Departamento de Materiales y Servicios Generales") Departamento de Materiales y Servicios Generales
                option(value="Departamento de Mantenimiento e Instalación") Departamento de Mantenimiento e Instalación
                option(value="Departamento de Inclusión") Departamento de Inclusión
                option(value="Departamento Planeación Calidad") Departamento Planeación Calidad
                option(value="Departamento de Servicios Bibliotecarios") Departamento de Servicios Bibliotecarios
                option(value="Departamento de Servicios Estudiantiles") Departamento de Servicios Estudiantiles
                option(value="Departamento de Investigación y Desarrollo") Departamento de Investigación y Desarrollo
                option(value="Departamento de Cultura y Deporte") Departamento de Cultura y Deporte
            label(for="resguardante") Resguardante:
            input#resguardante(type="text" name="resguardante")
            label(for="usoPor") En Uso Por:
            select#usoPor(name="usoPor")
              option(value="Seleccionar Depto") Seleccionar Tipo De Resguardante
              option(value="Director") Director
              option(value="Administrativo") Administrativo
              option(value="Docente") Docente
              option(value="PTC") PTC
              option(value="Abogado") Abogado
              option(value="Otro") Otro
          div.tab-content#content8
            label(for="observaciones") Observaciones:
            textarea#observaciones(name="observaciones" rows="4" cols="50")
            label(for="recomendaciones") Recomendaciones:
            textarea#recomendaciones(name="recomendaciones" rows="4" cols="50")
            button(type="submit") Guardar
      footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023
    
  script.
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-content');

    tabs.forEach((tab, index) => {
      tab.addEventListener('click', () => {
        tabs.forEach((t) => t.classList.remove('active'));
        tabContents.forEach((content) => content.classList.remove('active'));
        tab.classList.add('active');
        tabContents[index].classList.add('active');
      });
    });
