doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/inicio')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
  body
    header
      .logo
        img(src='img/uttnlogl.png', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"') Cerrar Sesión
    table.gris
      caption
        | Dispositivos registrados
      tbody
        tr
          th ID
          th Articulo
          th Marca
          th Modelo
          th SO
          th
          th
            button.btn.verde Agregar
          th
            button.btn.azul Buscar
        tr
          td 12510
          td CPU
          td Dell
          td Optiplex 9010
          td Windows 10
          td
            button.btn.verde Ver
          td
            button.btn.azul Editar
          td
            button.btn.rojo Borrar
        tr
          td Fila 2, Celda 1
          td Fila 2, Celda 2
          td Fila 2, Celda 3
          td Fila 2, Celda 4
          td Fila 2, Celda 5
          td
            button.btn.verde Ver
          td
            button.btn.azul Editar
          td
            button.btn.rojo Borrar
        tr
          td Fila 3, Celda 1
          td Fila 3, Celda 2
          td Fila 3, Celda 3
          td Fila 3, Celda 4
          td Fila 3, Celda 5
          td
            button.btn.verde Ver
          td
            button.btn.azul Editar
          td
            button.btn.rojo Borrar
    footer &copy; Universidad Tecnol&oacute;gica de Tamaulipas Norte - 2023