doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/principal')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
  body
   div.containergen
    header
      button#back.btn-back(type='button', onclick='history.back()')
          img(src='img/back.webp', alt='back') 
      a(href='principal')
        .logo
          img(src='img/uttnlogl.webp', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"')
        img(src='img/cerrarsesion.webp', alt='back', style='height:30px') 

    main
      .card-container
        .card
          a(href='/forms')
            img(src='img/compu.webp', alt='Imagen 1')
            p Computadoras, laptops, all in one
        .card
          a(href='/formsnolap')
            img(src='img/otros.webp', alt='Imagen 2')
            p Otros

    footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023
