doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/principal')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
  body
   div.containergen
    header
      .logo
        img(src='img/uttnlogl.webp', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"', title='Cerrar sesión')
        img(src='img/cerrarsesion.webp', alt='back', style='height:30px') 

    main
      .card-container
        .card
          a(href='/inicio')
            img(src='img/dispositivos.webp', alt='Imagen 1')
            p Seguimiento de dispositivos
        .card
          a(href='/menu')
            img(src='img/ingresar.webp', alt='Imagen 2')
            p Agregar dispositivos
        .card
          a(href='/usuarios')
            img(src='img/usuarios.webp', alt='Imagen 3')
            p Usuarios

    footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023
