doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/principal')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Tutorias
  body
    header
      .logo
        img(src='img/uttnlogl.png', alt='Encabezado')

    main
      .card-container
        .card
          img(src='img/dispositivos.png', alt='Imagen 1')
          p Seguimiento de dispositivos
        .card
          a(href='/forms')
            img(src='img/ingresar.png', alt='Imagen 2')
            p Agregar dispositivos
        .card
          img(src='img/usuarios.png', alt='Imagen 3')
          p Usuarios

    footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023
