doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
    body
      div.containergen    
        header
          .logo
            img(src='img/uttnlogl.webp', alt='Encabezado')
        div    
          h1 Restablecer Contraseña
          if error
          p(style='color:red') #{error}
          form#login(action='/reset-password', method='post')
            label(for='correo') Correo Electrónico:
            input(type='email', name='correo', required)
            label(for='password') Nueva Contraseña:
            div(style='display: flex; align-items: center;')
              div(style='display: flex; align-items: center; width: 550px')
                input#password(type='password', name='password', required)
              div(style='display: flex; align-items: center; margin-bottom: 10px')
                span(style='cursor: pointer; padding: 4px;', onclick='togglePasswordVisibility()')
                  img(src='img/ojo.webp', alt='Mostrar Contraseña', style= 'height:35px')
            button(type='submit') Restablecer Contraseña
          p
                | &iquest;Recordaste tu contraseña? 
                a(href='/index') Inicia sesion aqui
        footer &copy; Universidad Tecnol&oacute;gica de Tamaulipas Norte - 2023
      script.
        function togglePasswordVisibility() {
          var passwordField = document.getElementById('password');
          
          if (passwordField.type === 'password') {
            passwordField.type = 'text';
          } else {
            passwordField.type = 'password';
          }
        }

