doctype html
html(lang='en')

head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../style/styles.css')
    title Usuarios

body
    header
        .logo
            img(src='../img/uttnlogl.png', alt='Encabezado')

    table.gris
        caption
            | Usuarios registrados
        tbody
            tr
                th Nombre de Usuario
                th Nombre
                th Apellido Paterno
                th Apellido Materno
                th Email
                th
                th
                th
                th
            tr
                td JohnDoe
                td John
                td Doe
                td
                td john@example.com
                td
                    button.btn.verde Ver
                td
                    button.btn.azul Editar
                td
                    button.btn.rojo Borrar
            tr
                td JaneSmith
                td Jane
                td Smith
                td
                td jane@example.com
                td
                    button.btn.verde Ver
                td
                    button.btn.azul Editar
                td
                    button.btn.rojo Borrar
    footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023
